# Copyright (c) 2022 Xiao Qin
# SPDX-License-Identifier: MIT

if SHIELD_XOBDOX_LEFT

config ZMK_KEYBOARD_NAME
    default "oxbdox"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_XOBDOX_LEFT || SHIELD_XOBDOX_RIGHT

config ZMK_SPLIT
    default y

endif
